{% extends "app01/base.html" %}
{% block content %}
    <div id="content">
		<div class="con">
            <p class="breadcrumb"><a href="javascript:void(0);">首页  ></a><a href="javascript:void(0);">用户组管理 ></a><a href="javascript:void(0);">用户组删除</a></p>
        </div>
        <form action="/app01/group_del" method="POST">
            {% csrf_token %}
            <!--  <p><input name="groupname"  placeholder="要删除的用户组名"></p>-->
            <p> <select name="groupname">
                {% for item in data %}<option value="{{item.groupname}}">{{item.groupname}}</option>
                {% endfor %}
                </select>
            </p>
            <p><input type="submit" value="提 交"/></p>
            <label style='color:red'>{{status}}</label>
        </form><br><br>
    </div>
{% endblock %}