{% extends "app01/base.html" %}
{% block content %}
    <div id="content">
        <div class="con">
            <p class="breadcrumb"><a href="javascript:void(0);">首页  ></a><a href="javascript:void(0);">运维平台</a>
        </div>

        <div class="member">
            <p class="head">运维部联系方式</p>
            <div class="member_con">
                <ul>
                    <li class="head">
                        <span class="name">联系人</span>
                        <span class="tel">联系电话</span>
                        <span class="e-mail">联系人邮箱</span>
                    </li>
                    <li>
                        <span class="name">郭立凯</span>
                        <span class="tel">18611899953</span>
                        <span class="e-mail">admin@lzhot.net</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}