{% extends "app01/base.html" %}
{% block content %}
    <div id="content">
		<div class="con">
            <p class="breadcrumb"><a href="javascript:void(0);">首页  ></a><a href="javascript:void(0);">用户管理 ></a><a href="javascript:void(0);">用户修改</a></p>
        </div>
        <form action="/app01/user_mod" method="POST">
            {% csrf_token %}
            <p><select name='selectval'>
                <option value='password'>password</option>
                <option value='email'>email</option>
				</select>修改选项</p>
            <p><input name="password"  placeholder="请输入用户密码"></p>
            <p><input name="infonew"  placeholder="请输入新的信息"></p>
            <p><input type="submit" value="提 交"/></p>
            <p><h4 style="color:red">{{status}}</h4></p>
        </form>
    </div>
{% endblock %}