{% extends "../head.html" %}
{% block div %}

<div style="padding-left: 30px;padding-right: 30px;padding-top: 15px">
<head>
    <h4>首页 > 数据库管理 > 数据库信息</h4>
</head>

<table id="hostinfo" class="table table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align: center" width="5%">序号</th>
            <th style="text-align: center" width="10%">数据库IP</th>
            <th style="text-align: center" width="5%">数据库端口</th>
            <th style="text-align: center" width="10%">数据库Sock</th>
            <th style="text-align: center" width="10%">数据库状态</th>
            <th style="text-align: center;" width="10%">操作</th>
        </tr>
    </thead>
    <tbody style="text-align: center">
        {% for key,value in data.items %}
            <tr  class="success">
                <td>{{value.id}}</td>
                <td>{{value.mysql_ip}}</td>
                <td>{{value.mysql_port}}</td>
                <td>{{value.mysql_sock}}</td>
                <td>{{value.mysql_status}}</td>
                <td style="text-align: center">
                    <input type="button" class="btn btn-primary btn-xs" onclick="javascript:window.location.href='/app01/mysqlaction?&host={{value.mysql_ip}}&port={{value.mysql_port}}'" value="修改">
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">
                 数据库修改
            </h4>
         </div>
         <div class="modal-body">
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#hostinfo').DataTable();
} );
</script>

<script type="text/javascript">
    $("#myModal").on("hidden.bs.modal", function() {
        $(this).removeData("bs.modal");
    });
</script>
<!--</div>
-->
<script type="text/javascript">
    //var obj = document.getElementsByClassName("success");
    var obj = document.getElementsByTagName("tr");
    var len = obj.length;
    console.log(obj,len);
    for (var i=0;i<len;i++) {
        var current_obj = obj[i];
        //console.log(current_obj.children[2].innerText);
        if(current_obj.children[4].innerText=='Stopped'){
            current_obj.classList.remove('success');
            current_obj.classList.add('danger');
        }
    }
</script>
{% endblock %}
