<!doctype html>
<html>
	<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<title>Register Page | DbCount系统</title>
    <!--Bootstrap Stylesheet [ REQUIRED ]-->
	<link href="/static/bootstrap3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/login.css" rel="stylesheet">
	<!--Nifty Stylesheet [ REQUIRED ]-->
	<link href="/static/css/nifty.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
	</head>
<body>
    	<div id="container" class="cls-container">
		<div id="bg-overlay" ></div>
		<div class="cls-header cls-header-lg">
			<div class="cls-brand">
                <h3>MySQL Database Statistical Analysis System</h3>
<!--                <h4>MySQL数据库统计分析系统 </h4> -->
			</div>
		</div>
		<!-- LOGIN FORM -->
		<div class="cls-content">
			<div class="cls-content-sm panel">
				<div class="panel-body">
					<p class="pad-btm">欢迎使用DbCount密码系统</p>
					<form id="registerForm" action="{% url 'register' %}?next={{ next  }}" method="POST"> {% csrf_token %}

						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-user"></i></div>
								<input type="text" class="form-control" name="email" placeholder="请输入邮箱">
							</div>
						</div>

						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
								<input type="password" class="form-control" name="password" placeholder="请输入密码">
							</div>
						</div>

                        <div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-user"></i></div>
								<input type="text" class="form-control" name="username" placeholder="请输入用户名">
							</div>
						</div>

						
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
								<input type="text" class="form-control" name="mobile" placeholder="请输入手机">
							</div>
						</div>
						
						
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
								<input type="text" class="form-control" name="department" placeholder="请输入部门">
							</div>
						</div>
						
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
								<input type="text" class="form-control" name="remark" placeholder="请输入备注">
							</div>
						</div>
						
						<!--div class="row">
							<div class="col-xs-8 text-left checkbox">
								<label class="form-checkbox form-icon">
								<input type="checkbox"> 记住我
								</label>
							</div>
							<div class="col-xs-8">
								<div class="form-group text-right">
								<button class="btn btn-success text-uppercase" type="submit">登录</button>
								</div>
							</div>
						</div>
						<div class="mar-btm"><em>- or -</em></div-->
						<button class="btn btn-success  btn-block" type="submit">
							<b>注册</b>
						</button>
                        <input type="hidden" name="next" value="{{ next }}" />
                        <h4 style="color: red"><b>{{ status }}</b></h4>
					</form>
				</div>
			</div>

	<p class="footer">DbCount System Currently v1.0.0 && Technical Support: guolikai@yanxiu.com</br>
                Copyright © 2017.11.15 www.yanxiu.com
    </p>
</body>
</html>