{% extends "../head.html" %}
{% block div %}
<div style="padding-left: 30px;padding-right: 30px;padding-top: 15px">
<head>
    <h4> 首页 > 资源管理 > 节点修改</h4>
</head>

<form class="form-horizontal" action="/nodemodify?node_ip={{single_con_usage_data[1]['node_ip']}}&port={{single_con_usage_data[1]['port']}}" method="post">
    <div class="form-group">
        <label for="firstname" class="col-sm-1 control-label">节点名</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="name" value="{{single_con_usage_data[1]['name']}}" />
        </div>
    </div>

    <div class="form-group">
        <label for="firstname" class="col-sm-1 control-label">IP地址</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="node_ip" value="{{single_con_usage_data[1]['node_ip']}}" disabled/>
        </div>
    </div>

    <div class="form-group">
      <label for="firstname" class="col-sm-1 control-label">端口</label>
      <div class="col-sm-10">
         <input type="text" class="form-control" name="port" placeholder="2375"  value="{{single_con_usage_data[1]['port']}}"disabled/>
      </div>
    </div>

    <div class="form-group">
      <label for="firstname" class="col-sm-1 control-label">节点组</label>
      <div class="col-sm-10">
         <input type="text" class="form-control" name="node_group" placeholder="Online" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-10">
         <button type="submit" class="btn btn-default" name="node_add">修改</button>
          <button type="cancle" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
</form>
    </div>
{% end %}
